popk
data_analysis/lab_1/brooklyn_sales_map.csv
data_analysis/lab_1/building_class_categories
data_analysis/lab_2/OBV_full.xml
data_analysis/lab_2/vacancies_data.csv
data_analysis/lab_3/CSVs/task2
data_analysis\lab_3\CSVs\task2
web/web_2/uploads
web/web_3/user_guide
.vscode
desktop.ini
web/web_3/application/config/database.php
.vscode/settings.json
