popk
data_analysis/lab_1/brooklyn_sales_map.csv
data_analysis/lab_1/building_class_categories
data_analysis/lab_2/OBV_full.xml
data_analysis/lab_2/vacancies_data.csv
data_analysis/lab_3/CSVs/task2
data_analysis\lab_3\CSVs\task2
web/web_2/uploads
.vscode
desktop.ini
data_analysis/lab_3/CSVs/task2/.Net-разработчик.txt
data_analysis/lab_3/CSVs/task2/1С-программист.txt
data_analysis/lab_3/CSVs/task2/3D-дизайнер.txt
data_analysis/lab_3/CSVs/task2/Автор по информатике.txt
data_analysis/lab_3/CSVs/task2/Автор по информационным системам и технологиям.txt
data_analysis/lab_3/CSVs/task2/Автор по информационным технологиям.txt
data_analysis/lab_3/CSVs/task2/Автор по математическому моделированию.txt
data_analysis/lab_3/CSVs/task2/Автор по программированию.txt
data_analysis/lab_3/CSVs/task2/Автор по сетям и системам связи.txt
data_analysis/lab_3/CSVs/task2/Автор по телекоммуникационным технологиям.txt
data_analysis/lab_3/CSVs/task2/Автор по технологическому оборудованию.txt
data_analysis/lab_3/CSVs/task2/Автор по электронике.txt
data_analysis/lab_3/CSVs/task2/Агент (пешеход).txt
data_analysis/lab_3/CSVs/task2/Агент по привлечению клиентов спутникового ТВ.txt
data_analysis/lab_3/CSVs/task2/Агент по продаже и установке спутникового ТВ (с. Демьянское).txt
data_analysis/lab_3/CSVs/task2/Агент по продаже и установке спутникового ТВ (с. Тоболово).txt
data_analysis/lab_3/CSVs/task2/Агент по продаже и установке спутникового ТВ с. Слобода-Бешкиль.txt
data_analysis/lab_3/CSVs/task2/Агент по продаже и установке спутникового ТВ.txt
data_analysis/lab_3/CSVs/task2/Администратор инфраструктуры-(DevOps).txt
data_analysis/lab_3/CSVs/task2/Аккаунт-менеджер - Менеджер по продажам В2В.txt
data_analysis/lab_3/CSVs/task2/Аналитик 1С.txt
data_analysis/lab_3/CSVs/task2/Аналитик бизнес-процессов.txt
data_analysis/lab_3/CSVs/task2/Аналитик Big Data.txt
data_analysis/lab_3/CSVs/task2/Аналитик.txt
data_analysis/lab_3/CSVs/task2/Асессор-тестировщик.txt
data_analysis/lab_3/CSVs/task2/Бизнес-аналитик в отдел сопровождения продукта Naumen Service Desk (г. Екатеринбург).txt
data_analysis/lab_3/CSVs/task2/Бизнес-аналитик.txt
data_analysis/lab_3/CSVs/task2/Веб-дизайнер.txt
data_analysis/lab_3/CSVs/task2/Веб-программист - Frontend-разработчик.txt
data_analysis/lab_3/CSVs/task2/Веб-программист - Web-разработчик.txt
data_analysis/lab_3/CSVs/task2/Веб-программист-Backend-разработчик.txt
data_analysis/lab_3/CSVs/task2/Веб-программист.txt
data_analysis/lab_3/CSVs/task2/Веб-разработчик (стажер).txt
data_analysis/lab_3/CSVs/task2/Ведущий инженер по строительству.txt
data_analysis/lab_3/CSVs/task2/Ведущий инженер по эксплуатации сети.txt
data_analysis/lab_3/CSVs/task2/Ведущий инженер службы автоматизации.txt
data_analysis/lab_3/CSVs/task2/Ведущий инженер-программист (1С).txt
data_analysis/lab_3/CSVs/task2/Ведущий инженер-программист отдела разработки экономического программного обеспечения.txt
data_analysis/lab_3/CSVs/task2/Ведущий инженер-проектировщик (Водоснабжение).txt
data_analysis/lab_3/CSVs/task2/Ведущий инженер-проектировщик (Отдел контроля и автоматики).txt
data_analysis/lab_3/CSVs/task2/Ведущий инженер-проектировщик-главный специалист отдела проектирования автодорог.txt
data_analysis/lab_3/CSVs/task2/Ведущий инженер-проектировщик.txt
data_analysis/lab_3/CSVs/task2/Ведущий инженер-системный программист.txt
data_analysis/lab_3/CSVs/task2/Ведущий менеджер по продажам продуктов Cloud-IoT (b2b).txt
data_analysis/lab_3/CSVs/task2/Ведущий образовательных мероприятий.txt
data_analysis/lab_3/CSVs/task2/Ведущий программист 1С.txt
data_analysis/lab_3/CSVs/task2/Ведущий разработчик 1С.txt
data_analysis/lab_3/CSVs/task2/Ведущий разработчик-Разработчик 1С.txt
data_analysis/lab_3/CSVs/task2/Ведущий системный администратор.txt
data_analysis/lab_3/CSVs/task2/Ведущий специалист абонентского отдела.txt
data_analysis/lab_3/CSVs/task2/Ведущий специалист по системам видеонаблюдения [id 20219].txt
data_analysis/lab_3/CSVs/task2/Ведущий специалист по PR (департамент маркетинга).txt
data_analysis/lab_3/CSVs/task2/Ведущий специалист поддержки САПР.txt
data_analysis/lab_3/CSVs/task2/Ведущий специалист.txt
data_analysis/lab_3/CSVs/task2/Главный программист.txt
data_analysis/lab_3/CSVs/task2/Главный системный администратор.txt
data_analysis/lab_3/CSVs/task2/Главный специалист отдела автоматизации производственных процессов.txt
data_analysis/lab_3/CSVs/task2/Главный специалист Отдела по управлению обслуживанием [id16891].txt
data_analysis/lab_3/CSVs/task2/Главный специалист по календарно-сетевому планированию [id11831].txt
data_analysis/lab_3/CSVs/task2/Дежурный администратор.txt
data_analysis/lab_3/CSVs/task2/Дизайнер компьютерной графики.txt
data_analysis/lab_3/CSVs/task2/Директолог.txt
data_analysis/lab_3/CSVs/task2/Директор обособленного подразделения.txt
data_analysis/lab_3/CSVs/task2/Диспетчер мониторинга.txt
data_analysis/lab_3/CSVs/task2/Заместитель начальника отдела автоматизации производства.txt
data_analysis/lab_3/CSVs/task2/Заместитель Управляющего-Руководитель отдела прямых продаж.txt
data_analysis/lab_3/CSVs/task2/Инженер 1 категории УРТОСА.txt
data_analysis/lab_3/CSVs/task2/Инженер 2 категории.txt
data_analysis/lab_3/CSVs/task2/Инженер 2-ой линии группы системного администрирования.txt
data_analysis/lab_3/CSVs/task2/Инженер АСУ ТП.txt
data_analysis/lab_3/CSVs/task2/Инженер головной станции.txt
data_analysis/lab_3/CSVs/task2/Инженер локально-выездной технической поддержки.txt
data_analysis/lab_3/CSVs/task2/Инженер по обслуживанию печатного оборудования.txt
data_analysis/lab_3/CSVs/task2/Инженер по ОПС и видеонаблюдению.txt
data_analysis/lab_3/CSVs/task2/Инженер по подготовке производства 2 категории (направление АСУТП).txt
data_analysis/lab_3/CSVs/task2/Инженер по связи.txt
data_analysis/lab_3/CSVs/task2/Инженер по складскому учету (нефтедобывающая компания).txt
data_analysis/lab_3/CSVs/task2/Инженер по тестированию.txt
data_analysis/lab_3/CSVs/task2/Инженер по установке и обслуживанию оборудования.txt
data_analysis/lab_3/CSVs/task2/Инженер связи.txt
data_analysis/lab_3/CSVs/task2/Инженер технической поддержки, г. Тюмень.txt
data_analysis/lab_3/CSVs/task2/Инженер участка связи.txt
data_analysis/lab_3/CSVs/task2/Инженер электросвязи (Тюмень).txt
data_analysis/lab_3/CSVs/task2/Инженер электросвязи (Чаяндинское месторождение).txt
data_analysis/lab_3/CSVs/task2/Инженер электросвязи [16522].txt
data_analysis/lab_3/CSVs/task2/Инженер электросвязи 1 категории.txt
data_analysis/lab_3/CSVs/task2/Инженер электросвязи 2 категории.txt
data_analysis/lab_3/CSVs/task2/Инженер электросвязи категории.txt
data_analysis/lab_3/CSVs/task2/Инженер электросвязи.txt
data_analysis/lab_3/CSVs/task2/Инженер-наладчик.txt
data_analysis/lab_3/CSVs/task2/Инженер-программист (Oracle, pl-sql).txt
data_analysis/lab_3/CSVs/task2/Инженер-программист 1 категории.txt
data_analysis/lab_3/CSVs/task2/Инженер-программист АСУ ТП.txt
data_analysis/lab_3/CSVs/task2/Инженер-программист отдела сопровождения систем электронного взаимодействия.txt
data_analysis/lab_3/CSVs/task2/Инженер-программист станков с ЧПУ.txt
data_analysis/lab_3/CSVs/task2/Инженер-программист.txt
data_analysis/lab_3/CSVs/task2/Инженер-проектировщик 2 категории (Отдел контроля и автоматики).txt
data_analysis/lab_3/CSVs/task2/Инженер-проектировщик.txt
data_analysis/lab_3/CSVs/task2/Инженер-разработчик.txt
data_analysis/lab_3/CSVs/task2/Инженер, г.Тюмень.txt
data_analysis/lab_3/CSVs/task2/Интернет-маркетолог-таргетолог.txt
data_analysis/lab_3/CSVs/task2/Интернет-маркетолог.txt
data_analysis/lab_3/CSVs/task2/Компьютерный мастер.txt
data_analysis/lab_3/CSVs/task2/Консультант SAP BPC.txt
data_analysis/lab_3/CSVs/task2/Консультант SAP eWM.txt
data_analysis/lab_3/CSVs/task2/Консультант SAP.txt
data_analysis/lab_3/CSVs/task2/Контекстолог-таргетолог.txt
data_analysis/lab_3/CSVs/task2/Кредитный менеджер в салон Связной.txt
data_analysis/lab_3/CSVs/task2/Маркетолог-PR-специалист.txt
data_analysis/lab_3/CSVs/task2/Мастер по обслуживанию абонентов.txt
data_analysis/lab_3/CSVs/task2/Мастер по ремонту компьютеров.txt
data_analysis/lab_3/CSVs/task2/Менеджер активных продаж физическим лицам.txt
data_analysis/lab_3/CSVs/task2/Менеджер активных продаж.txt
data_analysis/lab_3/CSVs/task2/Менеджер в отдел продаж.txt
data_analysis/lab_3/CSVs/task2/Менеджер интернет-проекта.txt
data_analysis/lab_3/CSVs/task2/Менеджер корпоративных продаж.txt
data_analysis/lab_3/CSVs/task2/Менеджер отдела технической поддержки.txt
data_analysis/lab_3/CSVs/task2/Менеджер офиса продаж.txt
data_analysis/lab_3/CSVs/task2/Менеджер по корпоративным продажам.txt
data_analysis/lab_3/CSVs/task2/Менеджер по кредитованию.txt
data_analysis/lab_3/CSVs/task2/Менеджер по обучению.txt
data_analysis/lab_3/CSVs/task2/Менеджер по продажам В2В.txt
data_analysis/lab_3/CSVs/task2/Менеджер по продажам вводного урока математики.txt
data_analysis/lab_3/CSVs/task2/Менеджер по продажам гостиничных услуг.txt
data_analysis/lab_3/CSVs/task2/Менеджер по продажам на международном рынке.txt
data_analysis/lab_3/CSVs/task2/Менеджер по продажам со знанием английского языка.txt
data_analysis/lab_3/CSVs/task2/Менеджер по продажам услуг.txt
data_analysis/lab_3/CSVs/task2/Менеджер по продажам.txt
data_analysis/lab_3/CSVs/task2/Менеджер по работе с клиентами (входящий поток).txt
data_analysis/lab_3/CSVs/task2/Менеджер по работе с клиентами.txt
data_analysis/lab_3/CSVs/task2/Менеджер по работе с постоянными клиентами по телефону.txt
data_analysis/lab_3/CSVs/task2/Менеджер по рефакторингу бизнес - процессов.txt
data_analysis/lab_3/CSVs/task2/Менеджер проекта.txt
data_analysis/lab_3/CSVs/task2/Менеджер проектов (project manager).txt
data_analysis/lab_3/CSVs/task2/Менеджер проектов-Project Manager.txt
data_analysis/lab_3/CSVs/task2/Менеджер проектов.txt
data_analysis/lab_3/CSVs/task2/Менеджер IT-проектов.txt
data_analysis/lab_3/CSVs/task2/Менеджер.txt
data_analysis/lab_3/CSVs/task2/Методолог проектного управления (IT-проекты).txt
data_analysis/lab_3/CSVs/task2/Методолог ITSM.txt
data_analysis/lab_3/CSVs/task2/Механик боулинга.txt
data_analysis/lab_3/CSVs/task2/Младший консультант SAP.txt
data_analysis/lab_3/CSVs/task2/Младший разработчик.txt
data_analysis/lab_3/CSVs/task2/Младший Web-программист.txt
data_analysis/lab_3/CSVs/task2/Мобильный разработчик (IOS и-или Android).txt
data_analysis/lab_3/CSVs/task2/Монтажник ВОЛС.txt
data_analysis/lab_3/CSVs/task2/Монтажник связи.txt
data_analysis/lab_3/CSVs/task2/Монтажник систем ВН, ОПС, СКС.txt
data_analysis/lab_3/CSVs/task2/Монтажник СКС, ПС, ВН.txt
data_analysis/lab_3/CSVs/task2/Монтажник слаботочных систем.txt
data_analysis/lab_3/CSVs/task2/Монтажник.txt
data_analysis/lab_3/CSVs/task2/Наладчик станков с ЧПУ.txt
data_analysis/lab_3/CSVs/task2/Начальник линейно-технического цеха (Ярковский район).txt
data_analysis/lab_3/CSVs/task2/Начальник отдела информационной безопасности.txt
data_analysis/lab_3/CSVs/task2/Начальник отдела корпоративных информационных систем.txt
data_analysis/lab_3/CSVs/task2/Начальник участка автоматизированных систем управления производством.txt
data_analysis/lab_3/CSVs/task2/Начинающий специалист IT.txt
data_analysis/lab_3/CSVs/task2/Обозреватель.txt
data_analysis/lab_3/CSVs/task2/Оператор ГТС.txt
data_analysis/lab_3/CSVs/task2/Оператор интернет-магазина.txt
data_analysis/lab_3/CSVs/task2/Оператор станков с ЧПУ.txt
data_analysis/lab_3/CSVs/task2/Оператор call-центра.txt
data_analysis/lab_3/CSVs/task2/Оператор.txt
data_analysis/lab_3/CSVs/task2/Педагог дополнительного образования Аэроквантум.txt
data_analysis/lab_3/CSVs/task2/Педагог дополнительного образования в Промдизайнквантуме.txt
data_analysis/lab_3/CSVs/task2/Педагог дополнительного образования Промробоквантум.txt
data_analysis/lab_3/CSVs/task2/Педагог дополнительного образования IT-квантум.txt
data_analysis/lab_3/CSVs/task2/Педагог дополнительного образования VR-AR-квантум.txt
data_analysis/lab_3/CSVs/task2/Персональный менеджер по работе с корпоративными клиентами.txt
data_analysis/lab_3/CSVs/task2/Помощник маркетолога.txt
data_analysis/lab_3/CSVs/task2/Преподаватель в области программирования и web-дизайна.txt
data_analysis/lab_3/CSVs/task2/Преподаватель дистанционного курса -Автоматизация технологических процессов и производств-.txt
data_analysis/lab_3/CSVs/task2/Преподаватель по робототехнике.txt
data_analysis/lab_3/CSVs/task2/Преподаватель Directum.txt
data_analysis/lab_3/CSVs/task2/Программист - стажер 1С.txt
data_analysis/lab_3/CSVs/task2/Программист 1 С.txt
data_analysis/lab_3/CSVs/task2/Программист 1С ЗУП.txt
data_analysis/lab_3/CSVs/task2/Программист 1С техподдержка.txt
data_analysis/lab_3/CSVs/task2/Программист 1С ERP.txt
data_analysis/lab_3/CSVs/task2/Программист 1С.txt
data_analysis/lab_3/CSVs/task2/Программист 1C.txt
data_analysis/lab_3/CSVs/task2/Программист в отдел тестирования.txt
data_analysis/lab_3/CSVs/task2/Программист отдела информатизации (Филиал ТюмГУ в г. Тобольске).txt
data_analysis/lab_3/CSVs/task2/Программист С++.txt
data_analysis/lab_3/CSVs/task2/Программист ABAP (со знанием английского языка).txt
data_analysis/lab_3/CSVs/task2/Программист JS.txt
data_analysis/lab_3/CSVs/task2/Программист Python.txt
data_analysis/lab_3/CSVs/task2/Программист web-разработчик (backend-frontend).txt
data_analysis/lab_3/CSVs/task2/Программист-разработчик 1С.txt
data_analysis/lab_3/CSVs/task2/Программист.txt
data_analysis/lab_3/CSVs/task2/Продавец в салон связи.txt
data_analysis/lab_3/CSVs/task2/Продавец-консультант (аудио и видео техника).txt
data_analysis/lab_3/CSVs/task2/Продавец-консультант (ТЦ Ямской).txt
data_analysis/lab_3/CSVs/task2/Продавец-консультант TELE2.txt
data_analysis/lab_3/CSVs/task2/Продакт-менеджер (IT).txt
data_analysis/lab_3/CSVs/task2/Продуктовый аналитик.txt
data_analysis/lab_3/CSVs/task2/Проектный менеджер (департамент по инновациям).txt
data_analysis/lab_3/CSVs/task2/Промоутер (аудио и видео техника).txt
data_analysis/lab_3/CSVs/task2/Разработчик 1С- Программист 1С (эксплуатация, производительность 1С).txt
data_analysis/lab_3/CSVs/task2/Разработчик баз данных.txt
data_analysis/lab_3/CSVs/task2/Разработчик БД (PostgreSQL).txt
data_analysis/lab_3/CSVs/task2/Разработчик бизнес-решений.txt
data_analysis/lab_3/CSVs/task2/Разработчик интерфейсов (Буткемп).txt
data_analysis/lab_3/CSVs/task2/Разработчик поисковых систем (Java).txt
data_analysis/lab_3/CSVs/task2/Разработчик C#.txt
data_analysis/lab_3/CSVs/task2/Разработчик Python-С++ (SQL).txt
data_analysis/lab_3/CSVs/task2/Разработчик three.js.txt
data_analysis/lab_3/CSVs/task2/Разработчик.txt
data_analysis/lab_3/CSVs/task2/Расклейщик объявлений.txt
data_analysis/lab_3/CSVs/task2/Региональный менеджер по продажам (Тюмень, Ялуторовск, Заводоуковск).txt
data_analysis/lab_3/CSVs/task2/Региональный менеджер по продажам.txt
data_analysis/lab_3/CSVs/task2/Региональный представитель (44-223-ФЗ).txt
data_analysis/lab_3/CSVs/task2/Руководитель абонентского отдела.txt
data_analysis/lab_3/CSVs/task2/Руководитель в области автоматизации, информационных технологий и связи, метрологии (в ЯНАО).txt
data_analysis/lab_3/CSVs/task2/Руководитель группы разработки Мобильных приложений.txt
data_analysis/lab_3/CSVs/task2/Руководитель группы системных администраторов.txt
data_analysis/lab_3/CSVs/task2/Руководитель департамента маркетинга.txt
data_analysis/lab_3/CSVs/task2/Руководитель интернет-портала.txt
data_analysis/lab_3/CSVs/task2/Руководитель инфраструктурных проектов.txt
data_analysis/lab_3/CSVs/task2/Руководитель ИТ-проектов.txt
data_analysis/lab_3/CSVs/task2/Руководитель направления автоматизации розничной торговли.txt
data_analysis/lab_3/CSVs/task2/Руководитель направления корпоративных продаж РОО -Тюменский-.txt
data_analysis/lab_3/CSVs/task2/Руководитель направления разработки.txt
data_analysis/lab_3/CSVs/task2/Руководитель обособленного подразделения в г. Новый Уренгой.txt
data_analysis/lab_3/CSVs/task2/Руководитель отдела головной станции и информационных технологий.txt
data_analysis/lab_3/CSVs/task2/Руководитель отдела интернет-маркетинга.txt
data_analysis/lab_3/CSVs/task2/Руководитель отдела ОПС  - менеджер, СКД, Видеонаблюдения.txt
data_analysis/lab_3/CSVs/task2/Руководитель по продажам клиентам крупного бизнеса (г.Екатеринбург).txt
data_analysis/lab_3/CSVs/task2/Руководитель по продажам конвергентных продуктов.txt
data_analysis/lab_3/CSVs/task2/Руководитель проекта-ведущий аналитик SAP FI.txt
data_analysis/lab_3/CSVs/task2/Руководитель проекта.txt
data_analysis/lab_3/CSVs/task2/Руководитель проектов.txt
data_analysis/lab_3/CSVs/task2/Руководитель школы программирования.txt
data_analysis/lab_3/CSVs/task2/С++Developer (в г. Рязань).txt
data_analysis/lab_3/CSVs/task2/Серверный специалист.txt
data_analysis/lab_3/CSVs/task2/Сервис-инженер.txt
data_analysis/lab_3/CSVs/task2/Сервисный инженер (по обслуживанию медицинского оборудования).txt
data_analysis/lab_3/CSVs/task2/Сервисный инженер по ремонту печатного оборудования.txt
data_analysis/lab_3/CSVs/task2/Сервисный инженер.txt
data_analysis/lab_3/CSVs/task2/Сетевой администратор.txt
data_analysis/lab_3/CSVs/task2/Сетевой инженер.txt
data_analysis/lab_3/CSVs/task2/Системный администратор - Курьер.txt
data_analysis/lab_3/CSVs/task2/Системный администратор Linux.txt
data_analysis/lab_3/CSVs/task2/Системный администратор.txt
data_analysis/lab_3/CSVs/task2/Системный аналитик САПР.txt
data_analysis/lab_3/CSVs/task2/Системный аналитик-Технический писатель.txt
data_analysis/lab_3/CSVs/task2/Системный аналитик.txt
data_analysis/lab_3/CSVs/task2/Системный инженер по оборудованию HPE (сервера, системы хранения данных, сетевое оборудование).txt
data_analysis/lab_3/CSVs/task2/Скрам-мастер (Scrum-master).txt
data_analysis/lab_3/CSVs/task2/Сотрудник Call-центра.txt
data_analysis/lab_3/CSVs/task2/Специалист абонентского отдела.txt
data_analysis/lab_3/CSVs/task2/Специалист ИТ.txt
data_analysis/lab_3/CSVs/task2/Специалист КИПиА [id19831].txt
data_analysis/lab_3/CSVs/task2/Специалист по возврату оборудования.txt
data_analysis/lab_3/CSVs/task2/Специалист по защите информации 1 категории.txt
data_analysis/lab_3/CSVs/task2/Специалист по защите информации.txt
data_analysis/lab_3/CSVs/task2/Специалист по информационным системам.txt
data_analysis/lab_3/CSVs/task2/Специалист по информационным технологиям.txt
data_analysis/lab_3/CSVs/task2/Специалист по контекстной рекламе.txt
data_analysis/lab_3/CSVs/task2/Специалист по настройке CRM-системы Битрикс24-Технический специалист Битрикс24.txt
data_analysis/lab_3/CSVs/task2/Специалист по поддержке 1C.txt
data_analysis/lab_3/CSVs/task2/Специалист по подключению.txt
data_analysis/lab_3/CSVs/task2/Специалист по привлечению клиентов.txt
data_analysis/lab_3/CSVs/task2/Специалист по продажам (8 мкр.).txt
data_analysis/lab_3/CSVs/task2/Специалист по тестированию (ручное тестирование).txt
data_analysis/lab_3/CSVs/task2/Специалист по технической поддержке SAP.txt
data_analysis/lab_3/CSVs/task2/Специалист по эксплуатации ПО.txt
data_analysis/lab_3/CSVs/task2/Специалист саll-центра.txt
data_analysis/lab_3/CSVs/task2/Специалист службы поддержки пользователей.txt
data_analysis/lab_3/CSVs/task2/Специалист телефонных B2B продаж.txt
data_analysis/lab_3/CSVs/task2/Специалист тех. поддержки системы электронного документооборота (СЭД).txt
data_analysis/lab_3/CSVs/task2/Специалист технической поддержки.txt
data_analysis/lab_3/CSVs/task2/Специалист технологической поддержки.txt
data_analysis/lab_3/CSVs/task2/Специалист IT.txt
data_analysis/lab_3/CSVs/task2/Стажер.txt
data_analysis/lab_3/CSVs/task2/Старший системный администратор.txt
data_analysis/lab_3/CSVs/task2/Старший специалист по контролю качества фиксированной связи.txt
data_analysis/lab_3/CSVs/task2/Супервайзер телемаркетологов (Спутниковое ТВ).txt
data_analysis/lab_3/CSVs/task2/Тестировщик ПО.txt
data_analysis/lab_3/CSVs/task2/Техник - Инженер ОПС.txt
data_analysis/lab_3/CSVs/task2/Техник по ремонту компьютеров.txt
data_analysis/lab_3/CSVs/task2/Техник подключения.txt
data_analysis/lab_3/CSVs/task2/Техник связи.txt
data_analysis/lab_3/CSVs/task2/Техник-инженер по обслуживанию слаботочных систем и электроснабжения.txt
data_analysis/lab_3/CSVs/task2/Техник.txt
data_analysis/lab_3/CSVs/task2/Технический консультант по внедрению САПР, BIM.txt
data_analysis/lab_3/CSVs/task2/Торговый представитель (Тюмень).txt
data_analysis/lab_3/CSVs/task2/Торговый представитель.txt
data_analysis/lab_3/CSVs/task2/Трафик-менеджер (нативная реклама).txt
data_analysis/lab_3/CSVs/task2/Ученик мастера - мастер по ремонту бытовой техники.txt
data_analysis/lab_3/CSVs/task2/Учитель информатики (игровое программирование - веб-дизайн).txt
data_analysis/lab_3/CSVs/task2/Эксперт внедрения и поддержки СУУТП (APC – Advanced Process Control), г.Тобольск.txt
data_analysis/lab_3/CSVs/task2/Эксперт по новостройкам.txt
data_analysis/lab_3/CSVs/task2/Эксперт.txt
data_analysis/lab_3/CSVs/task2/Электромеханик связи (Чаяндинское месторождение).txt
data_analysis/lab_3/CSVs/task2/Электромеханик связи.txt
data_analysis/lab_3/CSVs/task2/ABAP Разработчик.txt
data_analysis/lab_3/CSVs/task2/ABAP-разработчик.txt
data_analysis/lab_3/CSVs/task2/Android разработчик.txt
data_analysis/lab_3/CSVs/task2/Backend разработчик.txt
data_analysis/lab_3/CSVs/task2/Backend Developer.txt
data_analysis/lab_3/CSVs/task2/Backend-программист.txt
data_analysis/lab_3/CSVs/task2/Backend-разработчик.txt
data_analysis/lab_3/CSVs/task2/C++ Software Developer.txt
data_analysis/lab_3/CSVs/task2/DevOps инженер.txt
data_analysis/lab_3/CSVs/task2/DevOps specialist (в Екатеринбург).txt
data_analysis/lab_3/CSVs/task2/Flutter-разработчик.txt
data_analysis/lab_3/CSVs/task2/Frontend Developer.txt
data_analysis/lab_3/CSVs/task2/Frontend-разработчик (Angular).txt
data_analysis/lab_3/CSVs/task2/Frontend-разработчик (React, Angular, Vue).txt
data_analysis/lab_3/CSVs/task2/Frontend-разработчик.txt
data_analysis/lab_3/CSVs/task2/Full stack разработчик.txt
data_analysis/lab_3/CSVs/task2/Fullstack Java-разработчик (с релокацией в Крым).txt
data_analysis/lab_3/CSVs/task2/HR business partner - Руководитель отдела персонала.txt
data_analysis/lab_3/CSVs/task2/IOS разработчик.txt
data_analysis/lab_3/CSVs/task2/IOS Developer (Middle).txt
data_analysis/lab_3/CSVs/task2/IT-специалист.txt
data_analysis/lab_3/CSVs/task2/IT-cпециалист службы технической поддержки.txt
data_analysis/lab_3/CSVs/task2/Java - разработчик.txt
data_analysis/lab_3/CSVs/task2/Java-программист.txt
data_analysis/lab_3/CSVs/task2/Java-разработчик.txt
data_analysis/lab_3/CSVs/task2/Key account manager.txt
data_analysis/lab_3/CSVs/task2/Middle разработчик.txt
data_analysis/lab_3/CSVs/task2/Middle Android разработчик.txt
data_analysis/lab_3/CSVs/task2/PHP-программист.txt
data_analysis/lab_3/CSVs/task2/Python программист (middle).txt
data_analysis/lab_3/CSVs/task2/Python разработчик (Middle).txt
data_analysis/lab_3/CSVs/task2/Python developer.txt
data_analysis/lab_3/CSVs/task2/Python-разработчик Junior-Middle.txt
data_analysis/lab_3/CSVs/task2/SAP ABAP разработчик (WF).txt
data_analysis/lab_3/CSVs/task2/SAP PP-QM consultant.txt
data_analysis/lab_3/CSVs/task2/Scrum Master.txt
data_analysis/lab_3/CSVs/task2/Senior разработчик.txt
data_analysis/lab_3/CSVs/task2/Senior Machine learning developer (C++).txt
data_analysis/lab_3/CSVs/task2/SEO-специалист.txt
data_analysis/lab_3/CSVs/task2/Smm-специалист.txt
data_analysis/lab_3/CSVs/task2/Support Engineer.txt
data_analysis/lab_3/CSVs/task2/Team Lead-Руководитель группы (JavaScript).txt
data_analysis/lab_3/CSVs/task2/UI - дизайнер.txt
data_analysis/lab_3/CSVs/task2/Unity Developer.txt
data_analysis/lab_3/CSVs/task2/Web-программист - Backend developer.txt
data_analysis/lab_3/CSVs/task2/Web-программист - Frontend developer.txt
data_analysis/lab_3/CSVs/task2/Web-программист (в офис).txt
data_analysis/lab_3/CSVs/task2/Web-программист (back-end).txt
data_analysis/lab_3/CSVs/task2/Web-программист на Bitrix.txt
data_analysis/lab_3/CSVs/task2/Web-программист.txt
data_analysis/lab_3/CSVs/task2/Web-разработчик.txt
