.table__wrapper {
  margin-top: 50px;
}
.page-item:hover {
  cursor: pointer;
}
.pagination__wrapper {
  text-align: center;
}
.wrapper-div {
  margin-top: 10px;
}
label {
  margin-top: 20px;
}
td {
  max-width: 225px;
}
th {
  max-width: 225px;
}
